<html>
    <style>
        .content {
            max-width: 250px;
            margin: auto;
            padding-left: 20px;
            padding-right: 20px;
            border: thin solid rgb(0, 0, 70);
        }
    </style>

   <body>
       <div class="content">
            <h3>
                Contributors
            </h3>
            <p>
                Chris Keith : chris.keith.at.gmail.com
            <br>
                Jeff Baker : jeffbcode.at.gmail.com
            </p>
            <hr>
            <p>
                If you have any corrections for descriptions or 
                <a href="https://www.lifewire.com/latitude-longitude-coordinates-google-maps-1683398" target="_blank">geographic locations</a>, 
                please email them to chris.keith.at.gmail.com.
            </p>
            <hr>
            <p>
                Django version :  {{ django_version }}
            </p>
        </div>
    </body>
</html> 
