{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% bootstrap_css %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    {% block title %}<title>SLHPA - Add Record</title>{% endblock %}
</head>

<body>
    {% block content %}
    <div class="container">
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input class="btn btn-default" type="submit" value="Save">
            <a class="btn btn-default" href="../../../slhpa/">Cancel</a>
        </form>
        {% endblock %}
    </div>
</body>

<footer>
    <div class="container">
        <br>
        <small>Courtesy of the San Leandro Public Library and San Leandro History Museum.</small>
        <br><br>
    </div>
</footer>

</html>