{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% bootstrap_css %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    {% block title %}<title>SLHPA - Record Detail</title>{% endblock %}
    <style>
        a#main_img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        #overlay_img {
            position: relative;
            top: -2px;
            left: -40px;
            z-index: 0;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
</head>

<body>
    <div class="container">
        <br>
        <table> <!-- outer -->
            <col width="600">
            <col width="20">
            <col width="400">
            <tr>
            <td>
        <table border="1"> <!-- inner -->
            <col width="120">
            <col width="480">
            <tr>
                <th style="text-align:left;padding:10px">Field Name</th>
                <th style="text-align:left;padding:10px">Field Value</th>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Photo Identifier</td>
                <td style="text-align:left;padding:10px">{{ photorecord.resource_name }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Title</td>
                <td style="text-align:left;padding:10px">{{ photorecord.title }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Description</td>
                <td style="text-align:left;padding:10px">{{ photorecord.description }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Year</td>
                <td style="text-align:left;padding:10px">{{ photorecord.year }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Picture</td>
                <td style="text-align:left;padding:10px">
                    {% load static %}
                    {% static "/slhpa/images/photos" as baseUrl %}
                    {% load photodir %}
                    <a href="{{ baseUrl }}/{{ photorecord.resource_name|getdir }}/{{ photorecord.resource_name }}.jpg"
                        target="_blank">
                        <div>
                            <img id="main_img"
                                src="{{ baseUrl }}/{{ photorecord.resource_name|getdir }}/{{ photorecord.resource_name }}.jpg"
                                width="20%" border="2">
                            <img id="overlay_img" src="{{ baseUrl }}/finger.png" width="8%">
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">GPS Latitude</td>
                <td style="text-align:left;padding:10px">{{ photorecord.gps_latitude }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">GPS Longitude</td>
                <td style="text-align:left;padding:10px">{{ photorecord.gps_longitude }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Address</td>
                <td style="text-align:left;padding:10px">{{ photorecord.address }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Contributor</td>
                <td style="text-align:left;padding:10px">{{ photorecord.contributor }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Old-style map grid reference</td>
                <td style="text-align:left;padding:10px">{{ photorecord.geo_coord_original }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Period date</td>
                <td style="text-align:left;padding:10px">{{ photorecord.period_date }}</td>
            </tr>
            <tr>
                <td style="text-align:left;padding:10px">Subject</td>
                <td style="text-align:left;padding:10px">{{ photorecord.subject }}</td>
            </tr>
        </table> <!-- inner -->
        </td>
        <td></td>
        <td valign="top">
            {% if photorecord.gps_latitude %}
            Location is approximate. For further explanation, see
            <a href="https://docs.google.com/presentation/d/1AzjURZo-E4pucgYxEIlsK0atsTn4ZcjLIPiXVcyPWcA/edit#slide=id.g4aa8a3a5b5_0_0" target="_blank">
            this page
            </a> from a Google Slides presentation.
                <div id="map"></div>
                <script>
                        var map = L.map('map').setView([ {{ photorecord.gps_latitude }}, {{ photorecord.gps_longitude }}], 13);
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);
    
                        L.marker([{{ photorecord.gps_latitude }}, {{ photorecord.gps_longitude }}]).addTo(map)
                            .bindPopup('{{ photorecord.title }}')
                            .openPopup();
                    </script>
                {% endif %}
        </td>
        </tr>
        </table> <!-- outer -->
        {% if allow_edit %}
            <a class="btn btn-default" href="/slhpa/edit/{{ photorecord.resource_name }}">Edit</a>
        {% endif %}
<!--
            <a class="btn btn-default" href="/slhpa/compare/{{ photorecord.resource_name }}" target="_blank">Compare Resolutions</a>
-->
        <a class="btn btn-default" href="javascript:window.open('','_self').close();">Close</a>
        <br>
    </div>
</body>

<footer>
    <div class="container">
        <br>
        <small>Courtesy of the <a href="https://sanle.ent.sirsi.net/client/en_US/default/search/results?te=ASSET" target="_blank">
            San Leandro Public Library Historical Photograph Collection</a> and the <a href="https://www.sanleandrohistory.org/" target="_blank">
            San Leandro Historical Society</a>.
        </small>
        <br><br>
    </div>
</footer>

</html>