{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% bootstrap_css %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    {% block title %}<title>SLHPA - Edit Record</title>{% endblock %}
    <style>
        a#main_img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        #overlay_img {
            position: relative;
            top: -2px;
            left: -40px;
            z-index: 0;
        }
    </style>
</head>

<body>
    {% block content %}
    {% static "/slhpa/images/photos" as baseUrl %}
    {% load photodir %}
    <div class="container">
        <br>
        <a href="{{ baseUrl }}/{{ photorecord.resource_name|getdir }}/{{ photorecord.resource_name }}.jpg"
            target="_blank">
            <span>
                <img id="main_img"
                    src="{{ baseUrl }}/{{ photorecord.resource_name|getdir }}/{{ photorecord.resource_name }}.jpg"
                    height="160px" border="2">
                <img id="overlay_img" src="{{ baseUrl }}/finger.png" height="40px">
            </span>
        </a>
        <p><b>Photo Identifier: </b>{{ photorecord.resource_name }}</p>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input class="btn btn-default" type="submit" value="Save">
            <a class="btn btn-default" href="/slhpa/detail/{{ photorecord.resource_name }}/">Cancel</a>
        </form>
        {% endblock %}
    </div>
</body>

<footer>
    <div class="container">
        <br>
        <small>Courtesy of the <a href="https://sanle.ent.sirsi.net/client/en_US/default/search/results?te=ASSET" target="_blank">
            San Leandro Public Library Historical Photograph Collection</a> and the <a href="https://www.sanleandrohistory.org/" target="_blank">
            San Leandro Historical Society</a>.
        </small>
        <br><br>
    </div>
</footer>

</html>