<html>
   <body style = "margin-left: 25px; word-wrap: break-word; width: 400px;">
    <br>
    <p>
        There are two different ways to search the list of photo records.
    </p>
    <p>
        The most useful way is to enter a search term into the “Search Title, Description and Subject” box. This will find all photo records where either the title, description or subject contains the search term that you entered.
    </p>
    <p>
        <!-- TODO : replace URL with relative path -->
        This is a very simple search. It uses the whole search term exactly as it is typed in. For example, record 
        <a href="https://slhpa-03.appspot.com/slhpa/detail/00000100">00000100</a> can be found with “Juana Martinez”, but not with “Martinez Juana”.
    </p>
    <p>
        The second way to find a photo record is by specifying a Photo Identifier. You can use this if you have found a photograph in the physical collection (or the on-line library catalog) and want to look up information about it.
    </p>
    <p>
        These two different ways are mutually exclusive. You cannot combine the Photo Identifier search with the Title/Description/Subject search.      
    </p>      
   </body>
</html> 
