<html>
   <body style = "margin-left: 25px; word-wrap: break-word; width: 400px;">
    <br>
    <p>
        Enter the text you want to search for in any of the fields ("Photo Identifier contains", etc.)
    </p>
    <p>
        If you enter text into multiple fields, you will get records that match <strong>both</strong> criteria.
    </p>
    <p>
        For example, "Title contains" = "Estudillo" returns 93 records.
    </p>
    <p>
        For example, "Title contains" = "Estudillo" and "Description contains = "Estudillo" returns 63 records. This is because 30 records contain "Estudillo" in the Title field only.
    </p>
   </body>
</html> 
