<html>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <body>
    <div class = "content">
        <h1>
            Help for complex search
        </h1>
    <p>
        Enter the text you want to search for in any of the fields ("Photo Identifier contains", etc.) and click the "Search" button.
    </p>
    <p>
        If you enter text into multiple fields, you will only get records that match <strong>both</strong> criteria.
    </p>
    <p>
        For example, "Title contains" = "Estudillo" returns 93 records.
    </p>
    <p>
        However, "Title contains" = "Estudillo" and "Description contains" = "Estudillo" returns 63 records. 
    </p>
    <p>
        This is because 30 records contain "Estudillo" only in the Title field (not in the "Description"), and thus do not match both of the search conditions.
    </p>
    <p>
        To remove all search conditions, click the "Reset" button.
    </p>
    </div>
    </body>
</html> 
