<head>
    <style>
        <a>
            #main_img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            #overlay_img {
                position: relative;
                top: -2px;
                left: -23px;
                z-index: 0;
            }
        </a>
    </style>
</head>

<h2>Prototype SLHPA Photo List (...a work in progress...)</h2>
<p>List is (currently) sorted by year, oldest first.</p>
<p>Total images: {{stats.total}}</p>
<p>Filtered images: {{stats.filtered}}</p>
<p>Displayed images: {{stats.displayed}}</p>
<p>Search query: {{stats.query}}</p>

<form id="searchform" action="{% url 'index' %}" method="get" accept-charset="utf-8">
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>

{% if photo_list %}
    <table border="1">
        <col width="80">
        <col width="320">
        <col width="480">
        <col width="40">
        <tr>
            <th style="text-align:left;padding:10px">Picture Identifier</th>
            <th style="text-align:left;padding:10px">Title</th>
            <th style="text-align:left;padding:10px">Description</th>
            <th style="text-align:left;padding:10px">Year</th>
            <th style="text-align:left;padding:10px">Image</th>
        </tr>
        {% for photo in photo_list %}
            <tr>
                <td style="text-align:left;padding:10px">
                    <a href="/slhpa/detail/{{ photo.resource_name }}/">
                        {{ photo.resource_name }}
                    </a>
                </td>
                <td style="text-align:left;padding:10px">
                    {{ photo.title }}
                </td>
                <td style="text-align:left;padding:10px">
                    {{ photo.description }}
                </td>
                <td style="text-align:left;padding:10px">
                    {{ photo.year }}
                </td>
                <td style="text-align:left;padding:10px">
                    {% load static %}
                    {% static "/slhpa/images/photos" as baseUrl %}
                    <a href="{{ photo.url_for_file }}">
                        <div>
                            <img id="main_img" src="{{ baseUrl }}/{{ photo.resource_name }}.jpg" height="20%" border="2">
                            <img id="overlay_img" src="{{ baseUrl }}/finger.png" height="8%">
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No photos are available.</p>
{% endif %}