{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>

<head>
  <title>Historical Photos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <style>
    <a>#main_img {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

    #overlay_img {
      position: relative;
      top: -28px;
      left: 83%;
      z-index: 0;
    }

    </a>
  </style>
</head>

<body>
  <div class="container">
    <!-- table is a table instance (not a QuerySet), defined in views.py -->
    {% render_table table %}
  </div>
  <br>
  <p><small>Courtesy of the San Leandro Public Library and
      San Leandro History Museum.</small></p>
</body>

</html>