<html>
   <body style = "margin-left: 25px; word-wrap: break-word; width: 400px;">
    <h3>Notes about map</h3>
    <p>
        The locations of the pins on <a href="https://www.google.com/maps/d/edit?mid=1zn0BmYScyOdkOyFK9eHOOmhmqRiO5fX2&usp=sharing" target="_blank">
        this map
        </a> are approximate within a couple of blocks.
        This is because the grid system that they were placed in
        (back in 1970 when the original database was built)
        has grid squares that are approximately two blocks square.
        <br><br>
        For further explanation, see
        <a href="https://docs.google.com/presentation/d/1xjvcBNLjl6C7hal39GYm_bzddLJckQk_A_eVp29GA1w/edit#slide=id.g4bcb7a13ad_0_2" target="_blank">
        this page
        </a> from a Google Slides presentation.
    </p>
   </body>
</html> 
