{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% bootstrap_css %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    {% block title %}<title>SLHPA - Compare Resolutions</title>{% endblock %}
</head>

<body>
    {% static "/slhpa/images/photos" as baseUrl %}
    {% load photodir %}
    <div class="container">
        <br>
        <h3>Print same photo at different resolutions</h3>
        Right-click on the appropriate link to download the photo file,
        then print that downloaded file.<br><br>
        <a href="/slhpa/detail/{{ photo.resource_name }}/">
            {{ photo.resource_name }}
        </a>
        <ul>
            <li>
                <a href="{{ baseUrl }}/hr/{{ photo.resource_name|getdir }}/{{ photo.resource_name }}.jpg"
                target="_blank">
                    High resolution image, converted from tif on DVD
                </a>
            </li>
            <li>
                <a href="{{ baseUrl }}/mr/{{ photo.resource_name|getdir }}/{{ photo.resource_name }}.jpg"
                target="_blank">
                Medium resolution, 300 dpi image from DVD
                </a>
            </li>
            <li>
                <a href="{{ baseUrl }}/lr/{{ photo.resource_name|getdir }}/{{ photo.resource_name }}.jpg"
                target="_blank">
                Low resolution, 96 dpi image from DVD
                </a>
            </li>
            <li>
                <a href="{{ baseUrl }}/{{ photo.resource_name|getdir }}/{{ photo.resource_name }}.jpg"
                target="_blank">
                640px-width photo document, resized from tif on DVD
                </a>
            </li>
            <li>
                <a href="{{ photo.url_for_file }}/"
                target="_blank">
                Sirsi.net photo document in pdf format
                </a>
            </li>
        </ul>
        <br>
        <a class="btn btn-default" href="javascript:window.open('','_self').close();">Close</a>
</body>

<footer>
    <div class="container">
        <br>
        <small>Courtesy of the San Leandro Public Library and San Leandro History Museum.</small>
        <br><br>
    </div>
</footer>

</html>